{{$cat := .Channel.ParentID}}
{{if eq $cat 720263038879662120 701379688177598495}} {{/* Mettez les catégories où vous voulez que la commande fonctionne*/}}
	{{ $matches := reFindAllSubmatches `\((.*?)\)` .Message.Content }}
	{{if eq (len (index (index $matches 0) 0)) (len .Message.Content) }}
		{{deleteTrigger 180}}
	{{end}} 
{{end}}