{{$chan := reFind `\-chan` .Message.Content}}
{{$id := 0}}
{{$channel := "nil"}}
{{$champ := reFind `\-(footer|title|field(s?)|color|author)` .Message.Content }}
{{if $chan}}
	{{$channel = (toInt (index .CmdArgs 1))}}
	{{$id = (toInt (index .CmdArgs 2)) }}
{{else}}
	{{$channel = .Channel.ID}}
	{{$id = (toInt (index .CmdArgs 0))}}
{{end}}
{{$msg:= getMessage $channel $id}}
{{$rep := ""}}
{{if $msg.Embeds}}
  {{with (index $msg.Embeds 0)}}
		{{if eq $champ "-field" "-fields"}}
			{{ range $i, $j := .Fields }} 
				{{ $rep = print $rep $j.Name " : \n ```\n" $j.Value "\n ```\n\n" }}
        {{$i = add $i 1}}
			{{ end }}
		{{else if eq $champ "-footer"}}
			{{$rep = print $rep .Footer.Text "\n"}}
		{{else if eq $champ "-title"}}
			{{$rep = print $rep .Title "\n"}}
		{{else if eq $champ "-color"}}
			{{$rep = print $rep .Color "\n"}}
		{{else if eq $champ "-author"}}
			{{$rep = print $rep .Author.Name "\n"}}
    {{else}}
    	{{$rep = print  $rep .Description "\n"}}
		{{end}}
  {{end}}
{{end}}
{{$content := ""}}
{{if $msg.Content}}
	{{$content = print $msg.Content}}
{{end}}
{{deleteTrigger 1}}
{{if (reFind `-dl` .Message.Content)}}
  {{$content = print "Voici le document demandé ! \n " $content}}
	{{$idm := sendMessageRetID nil (complexMessage "content" $content "embed" nil "file" $rep)}}
	{{deleteMessage nil $idm 180}}
{{else}}
  {{if le (len $rep) 2000}}
	  {{$idm := sendMessageRetID nil (print "```" $rep "```")}}
    {{$idc := sendMessageRetID nil (print "```" $content "```")}}
	  {{deleteMessage nil $idm 180}}
    {{deleteMessage nil $idc 180}}
  {{else}}
    {{$content = print "Votre réponse est trop longue, donc voici le fichier le contenant. \n " $content}}
  	{{$idm := sendMessageRetID nil (complexMessage "content" $content "embed" nil "file" $rep)}}
    {{deleteMessage nil $idm 180}}
  {{end}}
{{end}}
