{{$regLink := `(\*\*)?(?i)(SCP(-?)(\s)?(\d+)(-)?(\s)?(.*)?)(\*\*)?(\s+)?(:)?(\s+)?(\<)?(http://(fondationscp\.wikidot)|(www\.scpwiki))\.com/scp-(\d+)(-.*)?(\>)?`}}
{{$regElink := `(http://(fondationscp\.wikidot)|(www\.scpwiki))\.com/scp-(\d+)(-.*)?`}}
{{$regTit := `(?i)(scp(-?)(\d+)(-.\w+)?)`}}
{{if or (not (reFind $regTit .Message.Content)) (not (reFind $regLink .Message.Content))}}
  {{$id := sendMessageRetID nil "Votre message n'est pas au bon format ! Vous savez trois minutes pour le récupérer avant sa suppression. Vous devez le REPOSTER. Pas l'éditer. Je ne lis pas les éditions."}}
  {{$idT := sendMessageRetID nil "Le format est le suivant : \n```md\n **SECTEUR : Ésotérique** \n **Nom du SCP** : lien \n *Description résumée*\n``` "}}
  {{deleteMessage nil $idT 180}}
  {{deleteMessage nil $id 180}}
  {{deleteTrigger 180}}
{{else}}
  {{$col := 0xC7DDE4}}
  {{$name := reFind $regTit .Message.Content}}
  {{$desc := reReplace $regLink .Message.Content ""}}
  {{$link := reFind $regElink .Message.Content }}
  {{$img := reFind `((http:\/\/)?(fondationscp|scp-wiki)\.wdfiles\.com\/(.*))` $desc}}
  {{$col = 0x8F7DDA}}
  {{$icon := "https://i.imgur.com/iToj5OZ.png"}}
  {{$msg := cembed
  "title" (upper $name)
  "url" $link
  "description" $desc
  "footer" (sdict "text" (print "Proposé par " .User.Username) "icon_url" ((.User.AvatarURL "256")))
  "color" $col}}
  {{$embed := structToSdict $msg}}
  {{ range $k, $v := $embed}}
     {{- if eq (kindOf $v true) "struct" }}
       {{- $embed.Set $k (structToSdict $v) }}
     {{- end -}}
  {{ end }}
  {{if $img}}
    {{$desc = reReplace `((http:\/\/)?(fondationscp|scp-wiki)\.wdfiles\.com\/(.*))` $desc ""}}
    {{$embed.Set "image" (sdict "url" $img)}}
    {{$embed.Set "description" $desc}}
  {{end}}
  {{$embed = cembed $embed}}
  {{$idE := sendMessageRetID nil $embed}}
  {{addMessageReactions nil $idE ":check:781201180041936917" ":div:781201473127055380" ":no:781201202871271425" "🗑️" "📱"}}
  {{deleteTrigger 30}}
{{end}}