{{if .CmdArgs}}
  {{$id := index .CmdArgs 0}}
  {{$msg := getMessage 788017425215651850 $id}}
  {{if $msg.Embeds }}
    {{$embed := structToSdict (index $msg.Embeds 0) }}
    {{ range $k, $v := $embed }}
      {{- if eq (kindOf $v true) "struct" }}
        {{- $embed.Set $k (structToSdict $v) }}
      {{- end -}}
    {{ end }}
    {{if $embed.Footer.Text}}
      {{$user := reFind .User.Username $embed.Footer.Text}}
      {{if $user}}
        {{if ge (len .CmdArgs) 1}}
          {{$desc := joinStr "" (slice .CmdArgs 1)}}
          {{$embed.Set "description" $desc }}
          {{ if $embed.Footer }} 
            {{ $embed.Footer.Set "Icon_URL" $embed.Footer.IconURL }} 
          {{ end }}
          {{$embed = cembed $embed}}
          {{editMessage 788017425215651850 $id (complexMessageEdit "content" "" "embed" $embed)}}
        {{end}}
      {{end}}
    {{end}}
  {{end}}
{{end}}