{{$cmd := reFind `^\$(suggest|sa)` .Message.Content}}
{{$yes:="this:715708401816043520"}}
{{$no:=":moins:715708440466554921"}}
{{$neutral:=":blobshrug:742470860031393924"}}
{{ $suggestions := 741805466761560134 }} {{/* Suggestion channel ID */}}
	{{ $colors := sdict
		"default" 0x0070BB
		"approved" 0x50C878
		"denied" 0xDC143C
	}}

{{if eq $cmd "$suggest"}}
	{{/* CONFIGURATION VARIABLES START - THIS SHOULD BE THE SAME IN ALL FILES */}}
	 {{/* Same as in other files, colors for the suggestion embed */}}
	{{/* CONFIGURATION VARIABLES END */}}

	{{ deleteTrigger 10 }}
	{{ deleteResponse 10 }}
	{{ $attachment := "" }}
	{{ with .Message.Attachments }} {{ $attachment = (index . 0).ProxyURL }} {{ end }}
	{{ if .StrippedMsg }}
		{{ $id := sendMessageRetID $suggestions (complexMessage "content" (print "Hey " (mentionRoleID 723279178253729813) " une nouvelle suggestion a été envoyé ! Vous pouvez en discuter librement dans <#741808846473003088> !") "embed" (cembed 
			"author" (sdict "name" (printf "Suggestion from %s" .User.String) "icon_url" (.User.AvatarURL "256"))
			"color" $colors.default
			"description" .StrippedMsg
			"footer" (sdict "text" (joinStr "" "User ID: " .User.ID))
			"timestamp" currentTime
			"image" (sdict "url" $attachment)
		)) }}
		{{ addMessageReactions $suggestions $id $yes $neutral $no }}
		Successfully sent your suggestion to <#{{ $suggestions }}>!
	{{ else }}
		You need to provide something to suggest with `$suggest <suggestion>`.
	{{ end }}
{{else}}
	{{ if .CmdArgs }}
		{{$yes:=715708401816043520}}
		{{$no:=715708440466554921}}
		{{$neutral:=742470860031393924}}
		{{ $id := "" }}
		{{ $action := "" }}
		{{ $reason := "" }}
		{{ with reFindAllSubmatches `^(deny|comment|approve) (\d+) ?(.*)` (joinStr " " .CmdArgs) }}
			{{ $matches := index . 0 }}
			{{ $id = toInt64 (index $matches 2) }}
			{{ $action = index $matches 1 }}
			{{ $reason = index $matches 3 }}
		{{ end }}
		{{ $suggestionMsg := getMessage $suggestions $id }}
		{{ $valid := and $id $action $suggestionMsg }}
		{{ if and (eq $action "comment") (not $reason) }} {{ $valid = false }} {{ end }}
		{{ if $valid }}
			{{ $archived := false }}
			{{ $color := $colors.default }}
			{{ $title := "" }}
			{{ $fieldName := printf "Commentaire de %s" .User.String }}
			{{ if eq $action "approve" }}
				{{ $color = $colors.approved }}
				{{ $archived = true }}
				{{ $title = "Acceptée par %s" }}
				{{ $fieldName = "Raison :" }}
			{{ else if eq $action "deny" }}
				{{ $color = $colors.denied }}
				{{ $archived = true }}
				{{ $title = "Refusé par %s" }}
				{{ $fieldName = "Raison :" }}
			{{ end }}
			{{ $suggestion := index $suggestionMsg.Embeds 0 }}
			{{ $embed := sdict
				"author" (sdict "name" $suggestion.Author.Name "icon_url" $suggestion.Author.IconURL)
				"description" $suggestion.Description
				"color" $color
				"fields" (cslice (sdict "name" $fieldName "value" (or $reason "")))
			}}
			{{ if $archived }}
				{{ $ups := 0 }}
				{{ $downs := 0 }}
				{{$nes := 0}}
				{{- range $suggestionMsg.Reactions -}}
					{{ $id := or .Emoji.ID 0 }}
					{{ if eq $id $yes }} {{ $ups = .Count }}
					{{ else if eq $id $no }} {{ $downs = .Count }}
					{{else if eq $id $neutral }} {{$nes = .Count}}
					{{ end }}
				{{- end -}}
				{{ $embed.Set "footer" (sdict "text" (printf "✔️ %d | ❌ %d | <:blobshrug:742470860031393924> %d" $ups $downs $nes)) }}
				{{ deleteAllMessageReactions $suggestions $id }}
			{{ end }}
			{{ if $title }} {{ $embed.Set "title" (printf $title .User.String) }} {{ end }}
			{{ editMessage $suggestions $id (cembed $embed) }}
			Done!
		{{ else }}
			Sorry, the syntax for this command is `$sa <deny|approve|comment> <id> <reason>` (If you are commenting, reason is required).
		{{ end }}
	{{ else }}
		Sorry, the syntax for this command is `$sa <deny|approve|comment> <id> <reason>` (If you are commenting, reason is required).
	{{ end }}
{{end}}