{{$bio := 789157760834994228}}
{{$occ := 789157819848458290}}
{{$chan := 788017425215651850}}
{{$yes := 781201180041936917}}
{{$no := 781201202871271425}}
{{$div := 781201473127055380}}
{{if eq .Channel.ID $chan}}
  {{if .ReactionAdded}}
  {{$embed := structToSdict (index .Message.Embeds 0) }}
  {{ range $k, $v := $embed }}
    {{- if eq (kindOf $v true) "struct" }}
      {{- $embed.Set $k (structToSdict $v) }}
    {{- end -}}
  {{ end }}
    {{if and (eq .Reaction.Emoji.ID $yes) (hasRoleID 786283841701937192)}}
      {{if eq (lower $embed.Author.Name) "secteur biologique" "secteur : biologique" }}
        {{sendMessage $bio (cembed $embed)}}
        {{deleteMessage nil .Message.ID 30}}
      {{else if eq (lower $embed.Author.Name) "secteur occulte" "secteur : occulte" }}
        {{sendMessage $occ (cembed $embed)}}
        {{deleteMessage nil .Message.ID 30}}
      {{end}}
    {{else if and (eq .Reaction.Emoji.ID $no) (hasRoleID 786283841701937192)}}
      {{$embed.Set "color" 14492194}}
      {{$embed.Author.Set "name" (print "SCP - REFUSÉ PAR " .User.Username)}}
      {{editMessage nil .Message.ID (complexMessageEdit "content" "" "embed" (cembed $embed))}}
      {{deleteAllMessageReactions nil .Message.ID}}
    {{end}}
  {{end}}
{{end}}