```md
:white_small_square: **Joueur** : `<@pseudo>`
:white_small_square:**Taille**:
:white_small_square:**Poids**:
:white_small_square:**Âge**:
:white_small_square:**Sexe**:
:white_small_square:**Rôle**:
:white_small_square: **Branche**:

**Description physique** :```
