{{$joined := sdict}}
{{with (dbGet 0 "joined")}}
  {{$joined = sdict .Value}}
{{end}}
{{$t := $joined.Get (str .User.ID)}}
{{$t = reReplace `days` $t "jours"}}
{{if reFind `(weeks|week)` $t}}
  {{$m := reFind `\d+ (weeks|week)` $t}}
  {{$m = toFloat (reFind `\d+` $m)}}
  {{if and $m (ge $m (toFloat 4)) }}
    {{$m = div $m (toFloat 4)}}
{{$w := div (round (mult $m 10)) 10}}
{{$w2 := toInt $w}}
{{$w = sub $w $w2}} 
{{$w = div $w 0.231}}
{{if gt $w (toFloat 0)}}
    {{$t = reReplace `\d+ (weeks|week)(.*)` $t (print (toInt $m) " mois " (toInt $w) " semaine(s)" )}}
{{else}}
    {{$t = reReplace `\d+ (weeks|week)(.*)` $t (print $m " mois")}}
{{end}}
  {{else}}
    {{$t = reReplace `(weeks|week)(.*)` $t "semaine(s)"}}
  {{end}}
{{end}}
{{$t = reReplace `years` $t "an(s)"}}
{{if (reFind `an(s)` $t)}}
	{{$t = reReplace `an(s)` $t "an(s) et"}}
	{{$t = reReplace `mois (.*)` $t "mois."}}
{{end}}
{{$t = reReplace `and` $t "et"}}
{{$t = reReplace `hour(s?)` $t "heure(s)"}}


{{ $avatar := (joinStr "" "https://cdn.discordapp.com/avatars/" (toString .User.ID) "/" .User.Avatar ".png") }}
{{$serv := (print "https://cdn.discordapp.com/icons/" (toString .Guild.ID) "/" .Guild.Icon ".png")}}
{{$embed := cembed
"title" (joinStr " " .User.Username "vient de quitter le serveur... ")
"author" (sdict "name" "Projet Nucleus" "icon_url"  $serv)
"thumbnail" (sdict "url" $avatar)
"footer" (sdict "text" (joinStr " " "Le serveur totalise maintenant"  .Guild.MemberCount "membres • Avait rejoint il y a" $t))
"color" 0x75bfd8}}
{{sendMessage nil $embed}}
{{$joined.Del (str .User.ID)}}
{{dbSet 0 "joined" $joined}}